@font-face {
    font-family: 'Zurich';
    src: url('zurich-webfont.eot');
    src: url('zurich-webfont.eot?#iefix') format('embedded-opentype'),
         url('zurich-webfont.woff') format('woff'),
         url('zurich-webfont.ttf') format('truetype'),
         url('zurich-webfont.svg#zurich_cn_btregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Zurich';
    src: url('zurichbold-webfont.eot');
    src: url('zurichbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('zurichbold-webfont.woff') format('woff'),
         url('zurichbold-webfont.ttf') format('truetype'),
         url('zurichbold-webfont.svg#zurich_cn_btbold') format('svg');
    font-weight: bold;
    font-style: normal;
}