html{
	width:100%;
	height:100%;
	body{
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		aside{
			width:260px;
			height:100%;
			position:absolute;
			top:0;
			left:0;
			background:url('rgba.php/rgba(99,88,77,.9)');
			background:rgba(99,88,77,.9);
			z-index:999;
			.insidepad{
				padding:20px;
				#link-home{
					display:block;
					width:100%;
					max-width:160px;
					margin:20px auto 30px auto;
					float:none;
					img{
						width:100%;
						max-width:160px;
						display:block;
						margin:0 auto;
					}
				}
				#toggle-menu{display:none;}
				nav{
					ul{
						list-style: none;
						border-top:1px @marrom_medio solid;
						li{
							min-height:24px;
							border-bottom:1px @marrom_medio solid;
							a{
								position:relative;
								text-align:right;
								padding-right:30px;
								color:#fff;
								display:block;
								height:24px;
								line-height:24px;
								.zurich(14px);
								.transition;
								&:active, &:visited{color:#fff;}
								&:after{
									content:"";
									border:1px #fff solid;
									display:block;
									width:4px;
									height:4px;
									position:absolute;
									top:8px;
									right:17px;
									opacity:0;
									.arredondada(1px);
									.transition;
								}
								&:hover, &.ativo{
									background-color:@marrom_medio;
									&:after{
										opacity:1;
									}
								}
							}
						}
						&.submenu{
							li{
								border-bottom:1px @marrom_medio solid;
								a{
									background-color:@marrom_submenu;
									&:active, &:visited{color:#fff;}
									&:before{
										content:"";
										display:block;
										background:url('../images/layout/setinha-marcador-submenu.png') center center no-repeat;
										width:4px;
										height:6px;
										position:absolute;
										top:8px;
										right:17px;
										opacity:0;
										.transition;										
									}
									&:after{display:none}
									&:hover, &.ativo{
										background-color:@marrom_medio;
										&:before{
											opacity:1;
										}
									}
								}
								&:last-child{border-bottom:none;}
							}
						}
					}
				}
				#menu-bottom{
					position:absolute;
					bottom:0;
					right:0;
					width:100%;
					text-align:right;
					.zurich(12px);
					color:#fff;
					#barra{
						padding:0 50px 0 0;
						a{
							.zurich(12px);
							color:#fff;
							.transition;
							&:active, &:visited{color:#fff;}
							&:hover{
								color:@marrom_claro;
							}
							img{
								margin:0 3px;
							}
						}
					}
					#assinatura{
						padding:0 50px 25px 0px;
						margin-top:5px;
						.zurich(9px);
						a{
							color:#fff;
							.transition;
							&:active, &:visited{color:#fff;}
							&:hover{color:@marrom_claro;}
						}
					}
				}
			}
		}
		section{
			position:absolute;
			top:0;
			left:0;
			z-index:1;
			width:100%;
			height:100%;
			#slides{
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				.slide{
					position:absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
					background-repeat:no-repeat;
					background-position:center center;
					background-size: cover;
				}
			}
			#slide-mobile{
				display:none;
			}
		}
	}
}