.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
.btn-voltar {
  width: 60px;
  display: block;
  margin: 4px auto;
  color: #63584d;
  font-family: 'Zurich', sans-serif;
  font-size: 15px;
  font-weight: normal;
}
.btn-voltar:active,
.btn-voltar:visited {
  color: #63584d;
}
@media only screen and (min-width: 0px) and (max-width: 479px) {
  html {
    width: 100%;
  }
  html body {
    width: 100%;
    background-color: #63584d;
    min-height: 480px;
  }
  html body aside {
    width: 100%;
    background: url('rgba.php/rgba(99,88,77,1)');
    background: #63584d;
  }
  html body aside .insidepad {
    padding: 20px;
  }
  html body aside .insidepad #link-home {
    display: block;
    width: 45%;
    max-width: 160px;
    margin: 5px 30px 15px 0;
    float: right;
  }
  html body aside .insidepad #link-home img {
    width: 100%;
    max-width: 160px;
    display: block;
  }
  html body aside .insidepad #toggle-menu {
    position: absolute;
    top: 23px;
    left: 20px;
    width: 60px;
    height: 30px;
    display: block;
    color: #fff;
    font-family: 'Zurich', sans-serif;
    font-size: 18px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad #toggle-menu:active,
  html body aside .insidepad #toggle-menu:visited {
    color: #fff;
  }
  html body aside .insidepad #toggle-menu:hover {
    color: #ccc8c3;
  }
  html body aside .insidepad nav {
    clear: right;
  }
  html body aside .insidepad nav ul {
    list-style: none;
    border-top: 1px #7a7065 solid;
    height: auto;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul.collapse {
    height: 0;
    opacity: 0;
  }
  html body aside .insidepad nav ul li {
    min-height: 24px;
    border-bottom: 1px #7a7065 solid;
  }
  html body aside .insidepad nav ul li a {
    position: relative;
    text-align: right;
    padding-right: 30px;
    color: #fff;
    display: block;
    height: 24px;
    line-height: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Zurich', sans-serif;
    font-size: 16px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul li a:active,
  html body aside .insidepad nav ul li a:visited {
    color: #fff;
  }
  html body aside .insidepad nav ul li a:after {
    content: "";
    border: 1px #fff solid;
    display: block;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 14px;
    right: 17px;
    opacity: 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    behavior: url('PIE.htc');
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul li a:hover,
  html body aside .insidepad nav ul li a.ativo {
    background-color: #7a7065;
  }
  html body aside .insidepad nav ul li a:hover:after,
  html body aside .insidepad nav ul li a.ativo:after {
    opacity: 1;
  }
  html body aside .insidepad nav ul.submenu li {
    border-bottom: 1px #7a7065 solid;
  }
  html body aside .insidepad nav ul.submenu li a {
    background-color: #6b6054;
  }
  html body aside .insidepad nav ul.submenu li a:active,
  html body aside .insidepad nav ul.submenu li a:visited {
    color: #fff;
  }
  html body aside .insidepad nav ul.submenu li a:before {
    content: "";
    display: block;
    background: url('../images/layout/setinha-marcador-submenu.png') center center no-repeat;
    width: 4px;
    height: 6px;
    position: absolute;
    top: 14px;
    right: 17px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul.submenu li a:after {
    display: none;
  }
  html body aside .insidepad nav ul.submenu li a:hover,
  html body aside .insidepad nav ul.submenu li a.ativo {
    background-color: #7a7065;
  }
  html body aside .insidepad nav ul.submenu li a:hover:before,
  html body aside .insidepad nav ul.submenu li a.ativo:before {
    opacity: 1;
  }
  html body aside .insidepad nav ul.submenu li:last-child {
    border-bottom: none;
  }
  html body aside .insidepad #menu-bottom {
    margin-top: 30px;
    width: 100%;
    text-align: right;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
  }
  html body aside .insidepad #menu-bottom #barra {
    padding: 0 30px 0 0;
  }
  html body aside .insidepad #menu-bottom #barra a {
    font-family: 'Zurich', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad #menu-bottom #barra a:active,
  html body aside .insidepad #menu-bottom #barra a:visited {
    color: #fff;
  }
  html body aside .insidepad #menu-bottom #barra a:hover {
    color: #ccc8c3;
  }
  html body aside .insidepad #menu-bottom #barra a img {
    margin: 0 3px;
  }
  html body aside .insidepad #menu-bottom #assinatura {
    display: none;
    padding: 0 30px 25px 0px;
    margin-top: 5px;
    font-family: 'Zurich', sans-serif;
    font-size: 10px;
    font-weight: normal;
  }
  html body aside .insidepad #menu-bottom #assinatura a {
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad #menu-bottom #assinatura a:active,
  html body aside .insidepad #menu-bottom #assinatura a:visited {
    color: #fff;
  }
  html body aside .insidepad #menu-bottom #assinatura a:hover {
    color: #ccc8c3;
  }
  html body section {
    display: block;
    position: relative;
  }
  html body section #slides {
    display: none !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  html body section #slides .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
  }
  html body section #slide-mobile img {
    max-width: 100%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  html {
    width: 100%;
  }
  html body {
    width: 100%;
    background-color: #63584d;
    min-height: 320px;
  }
  html body aside {
    width: 100%;
    background: url('rgba.php/rgba(99,88,77,1)');
    background: #63584d;
  }
  html body aside .insidepad {
    padding: 20px;
  }
  html body aside .insidepad #link-home {
    display: block;
    width: 30%;
    max-width: 160px;
    margin: 20px 30px 30px 0;
    float: right;
  }
  html body aside .insidepad #link-home img {
    width: 100%;
    max-width: 160px;
  }
  html body aside .insidepad #toggle-menu {
    position: absolute;
    top: 23px;
    left: 20px;
    width: 60px;
    height: 30px;
    display: block;
    color: #fff;
    font-family: 'Zurich', sans-serif;
    font-size: 18px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad #toggle-menu:active,
  html body aside .insidepad #toggle-menu:visited {
    color: #fff;
  }
  html body aside .insidepad #toggle-menu:hover {
    color: #ccc8c3;
  }
  html body aside .insidepad nav {
    clear: right;
  }
  html body aside .insidepad nav ul {
    list-style: none;
    border-top: 1px #7a7065 solid;
    height: auto;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul.collapse {
    height: 0;
    opacity: 0;
  }
  html body aside .insidepad nav ul li {
    min-height: 24px;
    border-bottom: 1px #7a7065 solid;
  }
  html body aside .insidepad nav ul li a {
    position: relative;
    text-align: right;
    padding-right: 30px;
    color: #fff;
    display: block;
    height: 24px;
    line-height: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Zurich', sans-serif;
    font-size: 16px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul li a:active,
  html body aside .insidepad nav ul li a:visited {
    color: #fff;
  }
  html body aside .insidepad nav ul li a:after {
    content: "";
    border: 1px #fff solid;
    display: block;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 14px;
    right: 17px;
    opacity: 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    behavior: url('PIE.htc');
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul li a:hover,
  html body aside .insidepad nav ul li a.ativo {
    background-color: #7a7065;
  }
  html body aside .insidepad nav ul li a:hover:after,
  html body aside .insidepad nav ul li a.ativo:after {
    opacity: 1;
  }
  html body aside .insidepad nav ul.submenu li {
    border-bottom: 1px #7a7065 solid;
  }
  html body aside .insidepad nav ul.submenu li a {
    background-color: #6b6054;
  }
  html body aside .insidepad nav ul.submenu li a:active,
  html body aside .insidepad nav ul.submenu li a:visited {
    color: #fff;
  }
  html body aside .insidepad nav ul.submenu li a:before {
    content: "";
    display: block;
    background: url('../images/layout/setinha-marcador-submenu.png') center center no-repeat;
    width: 4px;
    height: 6px;
    position: absolute;
    top: 14px;
    right: 17px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul.submenu li a:after {
    display: none;
  }
  html body aside .insidepad nav ul.submenu li a:hover,
  html body aside .insidepad nav ul.submenu li a.ativo {
    background-color: #7a7065;
  }
  html body aside .insidepad nav ul.submenu li a:hover:before,
  html body aside .insidepad nav ul.submenu li a.ativo:before {
    opacity: 1;
  }
  html body aside .insidepad nav ul.submenu li:last-child {
    border-bottom: none;
  }
  html body aside .insidepad #menu-bottom {
    margin-top: 30px;
    width: 100%;
    text-align: right;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
  }
  html body aside .insidepad #menu-bottom #barra {
    padding: 0 30px 0 0;
  }
  html body aside .insidepad #menu-bottom #barra a {
    font-family: 'Zurich', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad #menu-bottom #barra a:active,
  html body aside .insidepad #menu-bottom #barra a:visited {
    color: #fff;
  }
  html body aside .insidepad #menu-bottom #barra a:hover {
    color: #ccc8c3;
  }
  html body aside .insidepad #menu-bottom #barra a img {
    margin: 0 3px;
  }
  html body aside .insidepad #menu-bottom #assinatura {
    display: none;
    padding: 0 30px 25px 0px;
    margin-top: 5px;
    font-family: 'Zurich', sans-serif;
    font-size: 10px;
    font-weight: normal;
  }
  html body aside .insidepad #menu-bottom #assinatura a {
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad #menu-bottom #assinatura a:active,
  html body aside .insidepad #menu-bottom #assinatura a:visited {
    color: #fff;
  }
  html body aside .insidepad #menu-bottom #assinatura a:hover {
    color: #ccc8c3;
  }
  html body section {
    display: block;
    position: relative;
  }
  html body section #slides {
    display: none !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  html body section #slides .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
  }
  html body section #slide-mobile img {
    max-width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    width: 100%;
    height: 100%;
  }
  html body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  html body aside {
    width: 260px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('rgba.php/rgba(99,88,77,.9)');
    background: rgba(99, 88, 77, 0.9);
    z-index: 999;
  }
  html body aside .insidepad {
    padding: 20px;
  }
  html body aside .insidepad #link-home {
    display: block;
    width: 100%;
    max-width: 160px;
    margin: 20px auto 30px auto;
    float: none;
  }
  html body aside .insidepad #link-home img {
    width: 100%;
    max-width: 160px;
    display: block;
    margin: 0 auto;
  }
  html body aside .insidepad #toggle-menu {
    display: none;
  }
  html body aside .insidepad nav ul {
    list-style: none;
    border-top: 1px #7a7065 solid;
  }
  html body aside .insidepad nav ul li {
    min-height: 24px;
    border-bottom: 1px #7a7065 solid;
  }
  html body aside .insidepad nav ul li a {
    position: relative;
    text-align: right;
    padding-right: 30px;
    color: #fff;
    display: block;
    height: 24px;
    line-height: 24px;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul li a:active,
  html body aside .insidepad nav ul li a:visited {
    color: #fff;
  }
  html body aside .insidepad nav ul li a:after {
    content: "";
    border: 1px #fff solid;
    display: block;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 8px;
    right: 17px;
    opacity: 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    behavior: url('PIE.htc');
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul li a:hover,
  html body aside .insidepad nav ul li a.ativo {
    background-color: #7a7065;
  }
  html body aside .insidepad nav ul li a:hover:after,
  html body aside .insidepad nav ul li a.ativo:after {
    opacity: 1;
  }
  html body aside .insidepad nav ul.submenu li {
    border-bottom: 1px #7a7065 solid;
  }
  html body aside .insidepad nav ul.submenu li a {
    background-color: #6b6054;
  }
  html body aside .insidepad nav ul.submenu li a:active,
  html body aside .insidepad nav ul.submenu li a:visited {
    color: #fff;
  }
  html body aside .insidepad nav ul.submenu li a:before {
    content: "";
    display: block;
    background: url('../images/layout/setinha-marcador-submenu.png') center center no-repeat;
    width: 4px;
    height: 6px;
    position: absolute;
    top: 8px;
    right: 17px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul.submenu li a:after {
    display: none;
  }
  html body aside .insidepad nav ul.submenu li a:hover,
  html body aside .insidepad nav ul.submenu li a.ativo {
    background-color: #7a7065;
  }
  html body aside .insidepad nav ul.submenu li a:hover:before,
  html body aside .insidepad nav ul.submenu li a.ativo:before {
    opacity: 1;
  }
  html body aside .insidepad nav ul.submenu li:last-child {
    border-bottom: none;
  }
  html body aside .insidepad #menu-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: right;
    font-family: 'Zurich', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
  }
  html body aside .insidepad #menu-bottom #barra {
    padding: 0 50px 0 0;
  }
  html body aside .insidepad #menu-bottom #barra a {
    font-family: 'Zurich', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad #menu-bottom #barra a:active,
  html body aside .insidepad #menu-bottom #barra a:visited {
    color: #fff;
  }
  html body aside .insidepad #menu-bottom #barra a:hover {
    color: #ccc8c3;
  }
  html body aside .insidepad #menu-bottom #barra a img {
    margin: 0 3px;
  }
  html body aside .insidepad #menu-bottom #assinatura {
    padding: 0 50px 25px 0px;
    margin-top: 5px;
    font-family: 'Zurich', sans-serif;
    font-size: 9px;
    font-weight: normal;
  }
  html body aside .insidepad #menu-bottom #assinatura a {
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad #menu-bottom #assinatura a:active,
  html body aside .insidepad #menu-bottom #assinatura a:visited {
    color: #fff;
  }
  html body aside .insidepad #menu-bottom #assinatura a:hover {
    color: #ccc8c3;
  }
  html body section {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  html body section #slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  html body section #slides .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  html body section #slide-mobile {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  html {
    width: 100%;
    height: 100%;
  }
  html body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  html body aside {
    width: 260px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('rgba.php/rgba(99,88,77,.9)');
    background: rgba(99, 88, 77, 0.9);
    z-index: 999;
  }
  html body aside .insidepad {
    padding: 20px;
  }
  html body aside .insidepad #link-home {
    display: block;
    width: 100%;
    max-width: 160px;
    margin: 20px auto 30px auto;
    float: none;
  }
  html body aside .insidepad #link-home img {
    width: 100%;
    max-width: 160px;
    display: block;
    margin: 0 auto;
  }
  html body aside .insidepad #toggle-menu {
    display: none;
  }
  html body aside .insidepad nav ul {
    list-style: none;
    border-top: 1px #7a7065 solid;
  }
  html body aside .insidepad nav ul li {
    min-height: 24px;
    border-bottom: 1px #7a7065 solid;
  }
  html body aside .insidepad nav ul li a {
    position: relative;
    text-align: right;
    padding-right: 30px;
    color: #fff;
    display: block;
    height: 24px;
    line-height: 24px;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul li a:active,
  html body aside .insidepad nav ul li a:visited {
    color: #fff;
  }
  html body aside .insidepad nav ul li a:after {
    content: "";
    border: 1px #fff solid;
    display: block;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 8px;
    right: 17px;
    opacity: 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    behavior: url('PIE.htc');
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul li a:hover,
  html body aside .insidepad nav ul li a.ativo {
    background-color: #7a7065;
  }
  html body aside .insidepad nav ul li a:hover:after,
  html body aside .insidepad nav ul li a.ativo:after {
    opacity: 1;
  }
  html body aside .insidepad nav ul.submenu li {
    border-bottom: 1px #7a7065 solid;
  }
  html body aside .insidepad nav ul.submenu li a {
    background-color: #6b6054;
  }
  html body aside .insidepad nav ul.submenu li a:active,
  html body aside .insidepad nav ul.submenu li a:visited {
    color: #fff;
  }
  html body aside .insidepad nav ul.submenu li a:before {
    content: "";
    display: block;
    background: url('../images/layout/setinha-marcador-submenu.png') center center no-repeat;
    width: 4px;
    height: 6px;
    position: absolute;
    top: 8px;
    right: 17px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul.submenu li a:after {
    display: none;
  }
  html body aside .insidepad nav ul.submenu li a:hover,
  html body aside .insidepad nav ul.submenu li a.ativo {
    background-color: #7a7065;
  }
  html body aside .insidepad nav ul.submenu li a:hover:before,
  html body aside .insidepad nav ul.submenu li a.ativo:before {
    opacity: 1;
  }
  html body aside .insidepad nav ul.submenu li:last-child {
    border-bottom: none;
  }
  html body aside .insidepad #menu-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: right;
    font-family: 'Zurich', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
  }
  html body aside .insidepad #menu-bottom #barra {
    padding: 0 50px 0 0;
  }
  html body aside .insidepad #menu-bottom #barra a {
    font-family: 'Zurich', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad #menu-bottom #barra a:active,
  html body aside .insidepad #menu-bottom #barra a:visited {
    color: #fff;
  }
  html body aside .insidepad #menu-bottom #barra a:hover {
    color: #ccc8c3;
  }
  html body aside .insidepad #menu-bottom #barra a img {
    margin: 0 3px;
  }
  html body aside .insidepad #menu-bottom #assinatura {
    padding: 0 50px 25px 0px;
    margin-top: 5px;
    font-family: 'Zurich', sans-serif;
    font-size: 9px;
    font-weight: normal;
  }
  html body aside .insidepad #menu-bottom #assinatura a {
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad #menu-bottom #assinatura a:active,
  html body aside .insidepad #menu-bottom #assinatura a:visited {
    color: #fff;
  }
  html body aside .insidepad #menu-bottom #assinatura a:hover {
    color: #ccc8c3;
  }
  html body section {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  html body section #slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  html body section #slides .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  html body section #slide-mobile {
    display: none;
  }
}
