html{
	width:100%;
	body{
		width:100%;
		background-color:@marrom_escuro;
		min-height:320px;		
		aside{
			width:100%;
			background:url('rgba.php/rgba(99,88,77,1)');
			background:rgba(99,88,77,1);
			.insidepad{
				padding:20px;
				#link-home{
					display:block;
					width:30%;
					max-width:160px;
					margin:20px 30px 30px 0;
					float:right;
					img{
						width:100%;
						max-width:160px;						
					}
				}
				#toggle-menu{
					position:absolute;
					top:23px;
					left:20px;
					width:60px;
					height:30px;
					display:block;
					color:#fff;
					.zurich(18px);
					.transition;
					&:active, &:visited{color:#fff;}
					&:hover{color:@marrom_claro;}
				}
				nav{
					clear:right;
					ul{
						list-style: none;
						border-top:1px @marrom_medio solid;
						height:auto;
						overflow:hidden;
						opacity:1;
						.transition;
						&.collapse{
							height:0;
							opacity:0;							
						}
						li{
							min-height:24px;
							border-bottom:1px @marrom_medio solid;
							a{
								position:relative;
								text-align:right;
								padding-right:30px;
								color:#fff;
								display:block;
								height:24px;
								line-height:24px;
								padding-top:5px;
								padding-bottom:5px;
								.zurich(16px);
								.transition;
								&:active, &:visited{color:#fff;}
								&:after{
									content:"";
									border:1px #fff solid;
									display:block;
									width:4px;
									height:4px;
									position:absolute;
									top:14px;
									right:17px;
									opacity:0;
									.arredondada(1px);
									.transition;
								}
								&:hover, &.ativo{
									background-color:@marrom_medio;
									&:after{
										opacity:1;
									}
								}
							}
						}
						&.submenu{
							li{
								border-bottom:1px @marrom_medio solid;
								a{
									background-color:@marrom_submenu;
									&:active, &:visited{color:#fff;}
									&:before{
										content:"";
										display:block;
										background:url('../images/layout/setinha-marcador-submenu.png') center center no-repeat;
										width:4px;
										height:6px;
										position:absolute;
										top:14px;
										right:17px;
										opacity:0;
										.transition;										
									}
									&:after{display:none}
									&:hover, &.ativo{
										background-color:@marrom_medio;
										&:before{
											opacity:1;
										}
									}
								}
								&:last-child{border-bottom:none;}
							}
						}
					}
				}
				#menu-bottom{
					margin-top:30px;
					width:100%;
					text-align:right;
					.zurich(14px);
					color:#fff;
					#barra{
						padding:0 30px 0 0;
						a{
							.zurich(12px);
							color:#fff;
							.transition;
							&:active, &:visited{color:#fff;}
							&:hover{
								color:@marrom_claro;
							}
							img{
								margin:0 3px;
							}
						}
					}
					#assinatura{
						display:none;
						padding:0 30px 25px 0px;
						margin-top:5px;
						.zurich(10px);
						a{
							color:#fff;
							.transition;
							&:active, &:visited{color:#fff;}
							&:hover{color:@marrom_claro;}
						}
					}
				}
			}
		}
		section{
			display:block;
			position:relative;
			#slides{
				display:none !important;
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				.slide{
					position:absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
					background-repeat:no-repeat;
					background-position:center center;
					background-size: cover;
					-webkit-background-size: cover;
				}
			}
			#slide-mobile{
				img{
					max-width: 100%;
				}
			}
		}
	}
}