@import 'vars.less';

@media only screen and (min-width: 0px) and (max-width: 479px) {
	@import 'home.320.less';
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	@import 'home.480.less';
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	@import 'home.768.less';
}
@media only screen and (min-width: 1024px) {
	@import 'home.desktop.less';
}