.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
.btn-voltar {
  width: 60px;
  display: block;
  margin: 4px auto;
  color: #63584d;
  font-family: 'Zurich', sans-serif;
  font-size: 15px;
  font-weight: normal;
}
.btn-voltar:active,
.btn-voltar:visited {
  color: #63584d;
}
@media only screen and (min-width: 0px) and (max-width: 479px) {
  html {
    width: 100%;
  }
  html body {
    width: 100%;
  }
  html body aside {
    width: 100%;
    display: block;
    background: #63584d;
  }
  html body aside .insidepad {
    padding: 20px;
  }
  html body aside .insidepad #link-home {
    display: block;
    width: 45%;
    max-width: 160px;
    margin: 5px 30px 15px 0;
    float: right;
  }
  html body aside .insidepad #link-home img {
    width: 100%;
    max-width: 160px;
    display: block;
  }
  html body aside .insidepad #toggle-menu {
    position: absolute;
    top: 23px;
    left: 20px;
    width: 60px;
    height: 30px;
    display: block;
    color: #fff;
    font-family: 'Zurich', sans-serif;
    font-size: 18px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad #toggle-menu:active,
  html body aside .insidepad #toggle-menu:visited {
    color: #fff;
  }
  html body aside .insidepad #toggle-menu:hover {
    color: #ccc8c3;
  }
  html body aside .insidepad nav {
    clear: right;
  }
  html body aside .insidepad nav ul {
    list-style: none;
    border-top: 1px #7a7065 solid;
    height: auto;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul.collapse {
    height: 0;
    opacity: 0;
  }
  html body aside .insidepad nav ul li {
    min-height: 24px;
    border-bottom: 1px #7a7065 solid;
  }
  html body aside .insidepad nav ul li a {
    position: relative;
    text-align: right;
    padding-right: 30px;
    color: #fff;
    display: block;
    height: 24px;
    line-height: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Zurich', sans-serif;
    font-size: 16px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul li a:active,
  html body aside .insidepad nav ul li a:visited {
    color: #fff;
  }
  html body aside .insidepad nav ul li a:after {
    content: "";
    border: 1px #fff solid;
    display: block;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 14px;
    right: 17px;
    opacity: 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    behavior: url('PIE.htc');
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul li a:hover,
  html body aside .insidepad nav ul li a.ativo {
    background-color: #7a7065;
  }
  html body aside .insidepad nav ul li a:hover:after,
  html body aside .insidepad nav ul li a.ativo:after {
    opacity: 1;
  }
  html body aside .insidepad nav ul.submenu li {
    border-bottom: 1px #7a7065 solid;
  }
  html body aside .insidepad nav ul.submenu li a {
    background-color: #6b6054;
    font-size: 12px !important;
  }
  html body aside .insidepad nav ul.submenu li a:active,
  html body aside .insidepad nav ul.submenu li a:visited {
    color: #fff;
  }
  html body aside .insidepad nav ul.submenu li a:before {
    content: "";
    display: block;
    background: url('../images/layout/setinha-marcador-submenu.png') center center no-repeat;
    width: 4px;
    height: 6px;
    position: absolute;
    top: 14px;
    right: 17px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul.submenu li a:after {
    display: none;
  }
  html body aside .insidepad nav ul.submenu li a:hover,
  html body aside .insidepad nav ul.submenu li a.ativo {
    background-color: #7a7065;
  }
  html body aside .insidepad nav ul.submenu li a:hover:before,
  html body aside .insidepad nav ul.submenu li a.ativo:before {
    opacity: 1;
  }
  html body aside .insidepad nav ul.submenu li:last-child {
    border-bottom: none;
  }
  html body aside .insidepad #menu-bottom {
    margin-top: 30px;
    width: 100%;
    text-align: right;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
  }
  html body aside .insidepad #menu-bottom #barra {
    padding: 0 30px 0 0;
  }
  html body aside .insidepad #menu-bottom #barra a {
    font-family: 'Zurich', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad #menu-bottom #barra a:active,
  html body aside .insidepad #menu-bottom #barra a:visited {
    color: #fff;
  }
  html body aside .insidepad #menu-bottom #barra a:hover {
    color: #ccc8c3;
  }
  html body aside .insidepad #menu-bottom #barra a img {
    margin: 0 3px;
  }
  html body aside .insidepad #menu-bottom #assinatura {
    display: none;
    padding: 0 30px 25px 0px;
    margin-top: 5px;
    font-family: 'Zurich', sans-serif;
    font-size: 10px;
    font-weight: normal;
  }
  html body aside .insidepad #menu-bottom #assinatura.force-mobile {
    display: block;
  }
  html body aside .insidepad #menu-bottom #assinatura a {
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad #menu-bottom #assinatura a:active,
  html body aside .insidepad #menu-bottom #assinatura a:visited {
    color: #fff;
  }
  html body aside .insidepad #menu-bottom #assinatura a:hover {
    color: #ccc8c3;
  }
  html body section {
    padding-left: 0;
  }
  html body section h1.sem-resultado {
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 25px;
    font-weight: normal;
  }
  html body section h1.sem-resultado.padded {
    padding: 7% 5%;
  }
  html body section .perfil-grid .pure-u-1-3.fundo-marrom {
    background-color: #ccc8c3;
  }
  html body section .perfil-grid .imagem-debora {
    height: 100vh;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
  }
  html body section .perfil-grid .texto-perfil {
    padding: 40px 6%;
  }
  html body section .perfil-grid .texto-perfil p {
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #63584d;
    line-height: 130%;
    margin-bottom: 15px;
  }
  html body section .perfil-grid .texto-metodologia {
    padding: 40px 6%;
  }
  html body section .perfil-grid .texto-metodologia h1 {
    font-family: 'Zurich', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #63584d;
    line-height: 110%;
    margin-bottom: 15px;
  }
  html body section .perfil-grid .texto-metodologia h2 {
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #63584d;
    line-height: 110%;
  }
  html body section .perfil-grid .texto-metodologia p {
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #63584d;
    line-height: 130%;
    margin-bottom: 15px;
  }
  html body section .contato-grid .contato {
    padding: 10px 0;
  }
  html body section .contato-grid .contato .endereco p {
    text-align: center;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #63584d;
    line-height: 120%;
  }
  html body section .contato-grid .contato .endereco p:last-child {
    margin-bottom: 45px;
  }
  html body section .contato-grid .contato .form h2 {
    font-family: 'Zurich', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #63584d;
  }
  html body section .contato-grid .contato .form .envio.sucesso {
    text-align: center;
    padding: 10px;
    margin: 4px 0;
  }
  html body section .contato-grid .contato .form form input[type="text"],
  html body section .contato-grid .contato .form form input[type="email"] {
    display: block;
    margin: 0 0 3px 0;
    background: #ccc8c3;
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 19px;
    line-height: 19px;
    padding: 3px 10px;
    border: 0;
    width: 90%;
  }
  html body section .contato-grid .contato .form form input[type="text"]::-webkit-input-placeholder,
  html body section .contato-grid .contato .form form input[type="email"]::-webkit-input-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form input[type="text"]:-moz-placeholder,
  html body section .contato-grid .contato .form form input[type="email"]:-moz-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form input[type="text"]::-moz-placeholder,
  html body section .contato-grid .contato .form form input[type="email"]::-moz-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form input[type="text"]:-ms-input-placeholder,
  html body section .contato-grid .contato .form form input[type="email"]:-ms-input-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form textarea {
    display: block;
    margin: 0 0 3px 0;
    background: #ccc8c3;
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 270px;
    padding: 3px 10px;
    border: 0;
    width: 90%;
    resize: none;
    overflow: auto;
  }
  html body section .contato-grid .contato .form form textarea::-webkit-input-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form textarea:-moz-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form textarea::-moz-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form textarea:-ms-input-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form input[type="submit"] {
    display: block;
    width: 96%;
    text-align: center;
    cursor: pointer;
    color: #63584d;
    background: #B9B3AD;
    border: 0;
    height: 25px;
    line-height: 25px;
    font-family: 'Zurich', sans-serif;
    font-size: 16px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .contato-grid .contato .form form input[type="submit"]:hover {
    background-color: #63584d;
    color: #fff;
  }
  html body section .contato-grid .pure-u-13-24 {
    height: 100vh;
    overflow: hidden;
  }
  html body section .contato-grid .mapa {
    position: relative;
    height: 100%;
  }
  html body section .contato-grid .mapa h2 {
    padding: 35px 0 0 0;
    font-family: 'Zurich', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #63584d;
  }
  html body section .contato-grid .mapa h2 a {
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #63584d;
    float: right;
    margin-right: 50px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .contato-grid .mapa h2 a:active,
  html body section .contato-grid .mapa h2 a:visited {
    color: #63584d;
  }
  html body section .contato-grid .mapa h2 a:hover {
    color: #ccc8c3;
  }
  html body section .contato-grid .mapa .mapa_iframe {
    overflow: hidden;
    height: 100%;
  }
  html body section .contato-grid .mapa .mapa_iframe iframe {
    width: 100% !important;
    height: 100% !important;
  }
  html body section .lista-projetos {
    padding: 40px 0 40px 40px;
    list-style: none;
  }
  html body section .lista-projetos li {
    margin: 0 2px 5px 0;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
  html body section .lista-projetos li a {
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .lista-projetos li a:before {
    content: "";
    display: block;
    position: absolute;
    width: 158px;
    height: 158px;
    border: 1px #fff solid;
    z-index: 999;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    opacity: 1;
    top: 20px;
    left: 20px;
  }
  html body section .lista-projetos li a:after {
    content: attr(title);
    display: block;
    position: absolute;
    padding: 15px 35px;
    width: 90px;
    height: 130px;
    z-index: 99;
    background: url('rgba.php/rgba(99,88,77,.9)');
    background: rgba(99, 88, 77, 0.9);
    color: #fff;
    font-family: 'Zurich', sans-serif;
    font-size: 16px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    opacity: 1;
    top: 40px;
    left: 0px;
  }
  html body section .detalhe-projeto {
    padding: 40px 0 0 0px;
  }
  html body section .detalhe-projeto h1 {
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 20px;
    font-weight: normal;
  }
  html body section .detalhe-projeto #ampliadas {
    width: 100%;
    font-size: 0;
    margin-bottom: 5px;
    position: relative;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas {
    position: relative;
    left: 0;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas a[rel='ampliadas'] {
    display: block;
    max-width: 100%;
    position: relative;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    background-color: #fff;
    background-image: none !important;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas a[rel='ampliadas'] img {
    max-width: 100%;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 100%;
    min-height: 350px;
    background-color: #ccc8c3;
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card h1 {
    padding: 15px 0 0 15px;
    margin-bottom: 10px;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card p {
    padding: 0 0 0 15px;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card a {
    color: #63584d;
    font-weight: bold;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card a:active,
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card a:visited {
    color: #63584d;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card a:hover {
    color: #7a7065;
    text-decoration: underline;
  }
  html body section .detalhe-projeto #thumbs {
    display: none;
  }
  html body section .detalhe-projeto .fornecedores-open {
    display: none;
  }
  html body section .detalhe-projeto #navegacao {
    display: block;
    margin: 10px 0;
    width: 100%;
  }
  html body section .detalhe-projeto #navegacao .voltar {
    float: left;
  }
  html body section .detalhe-projeto #navegacao .voltar a {
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .detalhe-projeto #navegacao .voltar a:active,
  html body section .detalhe-projeto #navegacao .voltar a:visited {
    color: #63584d;
  }
  html body section .detalhe-projeto #navegacao .voltar a:hover {
    color: #ccc8c3;
  }
  html body section .detalhe-projeto #navegacao .navegar {
    float: right;
  }
  html body section .detalhe-projeto #navegacao .navegar .separador {
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
  }
  html body section .detalhe-projeto #navegacao .navegar a {
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .detalhe-projeto #navegacao .navegar a:active,
  html body section .detalhe-projeto #navegacao .navegar a:visited {
    color: #63584d;
  }
  html body section .detalhe-projeto #navegacao .navegar a:hover {
    color: #ccc8c3;
  }
  html body section .detalhe-projeto #navegacao .navegar a.prev {
    padding-right: 10px;
  }
  html body section .detalhe-projeto #navegacao .navegar a.next {
    padding-left: 10px;
  }
  html body section .lista-clientes {
    padding: 40px 50px 0 40px;
  }
  html body section .lista-clientes .cliente {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 240px;
    height: 160px;
    padding: 20px;
  }
  html body section .pad-clips {
    padding: 10px 0;
  }
  html body section .pad-clips .lista-clippings-digitais {
    width: 100%;
    list-style: none;
  }
  html body section .pad-clips .lista-clippings-digitais li {
    width: 100%;
    margin-bottom: 5px;
  }
  html body section .pad-clips .lista-clippings-digitais li a {
    display: block;
    padding: 15px;
    background: url('../images/layout/seta-thumbnails.png') #ccc8c3 98% center no-repeat;
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .pad-clips .lista-clippings-digitais li a:active,
  html body section .pad-clips .lista-clippings-digitais li a:visited {
    color: #63584d;
  }
  html body section .pad-clips .lista-clippings-digitais li a:hover {
    background: url('../images/layout/ampliado-seta-direita.png') #63584d 98% center no-repeat;
    color: #fff;
  }
  html body section .pad-clips .lista-clippings-digitais li a span {
    font-size: 16px;
  }
  html body section .pad-clips .lista-clippings-digitais li a p {
    width: 96%;
  }
  html body section .pad-clips .lista-clippings-impressos {
    list-style: none;
  }
  html body section .pad-clips .lista-clippings-impressos li {
    width: 190px;
    display: block;
    margin: 10px auto;
  }
  html body section .pad-clips .lista-clippings-impressos li a {
    display: block;
    padding: 5px;
    background: #63584d;
    color: #fff;
    text-align: center;
    width: 180px;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .pad-clips .lista-clippings-impressos li a:active,
  html body section .pad-clips .lista-clippings-impressos li a:visited {
    color: #fff;
  }
  html body section .pad-clips .lista-clippings-impressos li a:hover {
    background-color: #ccc8c3;
  }
  html body section .pad-clips .lista-clippings-impressos li a img {
    width: 180px;
    display: block;
    margin: 0 auto 5px auto;
  }
  html body section .pad-clips .lista-clippings-impressos li a .linha {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  html {
    width: 100%;
  }
  html body {
    width: 100%;
  }
  html body aside {
    width: 100%;
    display: block;
    background: #63584d;
  }
  html body aside .insidepad {
    padding: 20px;
  }
  html body aside .insidepad #link-home {
    display: block;
    width: 30%;
    max-width: 160px;
    margin: 20px 30px 30px 0;
    float: right;
  }
  html body aside .insidepad #link-home img {
    width: 100%;
    max-width: 160px;
  }
  html body aside .insidepad #toggle-menu {
    position: absolute;
    top: 23px;
    left: 20px;
    width: 60px;
    height: 30px;
    display: block;
    color: #fff;
    font-family: 'Zurich', sans-serif;
    font-size: 18px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad #toggle-menu:active,
  html body aside .insidepad #toggle-menu:visited {
    color: #fff;
  }
  html body aside .insidepad #toggle-menu:hover {
    color: #ccc8c3;
  }
  html body aside .insidepad nav {
    clear: right;
  }
  html body aside .insidepad nav ul {
    list-style: none;
    border-top: 1px #7a7065 solid;
    height: auto;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul.collapse {
    height: 0;
    opacity: 0;
  }
  html body aside .insidepad nav ul li {
    min-height: 24px;
    border-bottom: 1px #7a7065 solid;
  }
  html body aside .insidepad nav ul li a {
    position: relative;
    text-align: right;
    padding-right: 30px;
    color: #fff;
    display: block;
    height: 24px;
    line-height: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Zurich', sans-serif;
    font-size: 16px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul li a:active,
  html body aside .insidepad nav ul li a:visited {
    color: #fff;
  }
  html body aside .insidepad nav ul li a:after {
    content: "";
    border: 1px #fff solid;
    display: block;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 14px;
    right: 17px;
    opacity: 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    behavior: url('PIE.htc');
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul li a:hover,
  html body aside .insidepad nav ul li a.ativo {
    background-color: #7a7065;
  }
  html body aside .insidepad nav ul li a:hover:after,
  html body aside .insidepad nav ul li a.ativo:after {
    opacity: 1;
  }
  html body aside .insidepad nav ul.submenu li {
    border-bottom: 1px #7a7065 solid;
  }
  html body aside .insidepad nav ul.submenu li a {
    background-color: #6b6054;
    font-size: 12px !important;
  }
  html body aside .insidepad nav ul.submenu li a:active,
  html body aside .insidepad nav ul.submenu li a:visited {
    color: #fff;
  }
  html body aside .insidepad nav ul.submenu li a:before {
    content: "";
    display: block;
    background: url('../images/layout/setinha-marcador-submenu.png') center center no-repeat;
    width: 4px;
    height: 6px;
    position: absolute;
    top: 14px;
    right: 17px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul.submenu li a:after {
    display: none;
  }
  html body aside .insidepad nav ul.submenu li a:hover,
  html body aside .insidepad nav ul.submenu li a.ativo {
    background-color: #7a7065;
  }
  html body aside .insidepad nav ul.submenu li a:hover:before,
  html body aside .insidepad nav ul.submenu li a.ativo:before {
    opacity: 1;
  }
  html body aside .insidepad nav ul.submenu li:last-child {
    border-bottom: none;
  }
  html body aside .insidepad #menu-bottom {
    margin-top: 30px;
    width: 100%;
    text-align: right;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
  }
  html body aside .insidepad #menu-bottom #barra {
    padding: 0 30px 0 0;
  }
  html body aside .insidepad #menu-bottom #barra a {
    font-family: 'Zurich', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad #menu-bottom #barra a:active,
  html body aside .insidepad #menu-bottom #barra a:visited {
    color: #fff;
  }
  html body aside .insidepad #menu-bottom #barra a:hover {
    color: #ccc8c3;
  }
  html body aside .insidepad #menu-bottom #barra a img {
    margin: 0 3px;
  }
  html body aside .insidepad #menu-bottom #assinatura {
    display: none;
    padding: 0 30px 25px 0px;
    margin-top: 5px;
    font-family: 'Zurich', sans-serif;
    font-size: 10px;
    font-weight: normal;
  }
  html body aside .insidepad #menu-bottom #assinatura.force-mobile {
    display: block;
  }
  html body aside .insidepad #menu-bottom #assinatura a {
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad #menu-bottom #assinatura a:active,
  html body aside .insidepad #menu-bottom #assinatura a:visited {
    color: #fff;
  }
  html body aside .insidepad #menu-bottom #assinatura a:hover {
    color: #ccc8c3;
  }
  html body section {
    padding-left: 0;
  }
  html body section h1.sem-resultado {
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 25px;
    font-weight: normal;
  }
  html body section h1.sem-resultado.padded {
    padding: 7% 5%;
  }
  html body section .perfil-grid .pure-u-1-3.fundo-marrom {
    background-color: #ccc8c3;
  }
  html body section .perfil-grid .imagem-debora {
    height: 100vh;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
  }
  html body section .perfil-grid .texto-perfil {
    padding: 40px 6%;
  }
  html body section .perfil-grid .texto-perfil p {
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #63584d;
    line-height: 130%;
    margin-bottom: 15px;
  }
  html body section .perfil-grid .texto-metodologia {
    padding: 40px 6%;
  }
  html body section .perfil-grid .texto-metodologia h1 {
    font-family: 'Zurich', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #63584d;
    line-height: 110%;
    margin-bottom: 15px;
  }
  html body section .perfil-grid .texto-metodologia h2 {
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #63584d;
    line-height: 110%;
  }
  html body section .perfil-grid .texto-metodologia p {
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #63584d;
    line-height: 130%;
    margin-bottom: 15px;
  }
  html body section .contato-grid .contato {
    padding: 10px 0;
  }
  html body section .contato-grid .contato .endereco p {
    text-align: center;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #63584d;
    line-height: 120%;
  }
  html body section .contato-grid .contato .endereco p:last-child {
    margin-bottom: 45px;
  }
  html body section .contato-grid .contato .form h2 {
    font-family: 'Zurich', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #63584d;
  }
  html body section .contato-grid .contato .form .envio.sucesso {
    text-align: center;
    padding: 10px;
    margin: 4px 0;
  }
  html body section .contato-grid .contato .form form input[type="text"],
  html body section .contato-grid .contato .form form input[type="email"] {
    display: block;
    margin: 0 0 3px 0;
    background: #ccc8c3;
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 19px;
    line-height: 19px;
    padding: 3px 10px;
    border: 0;
    width: 90%;
  }
  html body section .contato-grid .contato .form form input[type="text"]::-webkit-input-placeholder,
  html body section .contato-grid .contato .form form input[type="email"]::-webkit-input-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form input[type="text"]:-moz-placeholder,
  html body section .contato-grid .contato .form form input[type="email"]:-moz-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form input[type="text"]::-moz-placeholder,
  html body section .contato-grid .contato .form form input[type="email"]::-moz-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form input[type="text"]:-ms-input-placeholder,
  html body section .contato-grid .contato .form form input[type="email"]:-ms-input-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form textarea {
    display: block;
    margin: 0 0 3px 0;
    background: #ccc8c3;
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 270px;
    padding: 3px 10px;
    border: 0;
    width: 90%;
    resize: none;
    overflow: auto;
  }
  html body section .contato-grid .contato .form form textarea::-webkit-input-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form textarea:-moz-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form textarea::-moz-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form textarea:-ms-input-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form input[type="submit"] {
    display: block;
    width: 96%;
    text-align: center;
    cursor: pointer;
    color: #63584d;
    background: #B9B3AD;
    border: 0;
    height: 25px;
    line-height: 25px;
    font-family: 'Zurich', sans-serif;
    font-size: 16px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .contato-grid .contato .form form input[type="submit"]:hover {
    background-color: #63584d;
    color: #fff;
  }
  html body section .contato-grid .pure-u-13-24 {
    height: 100vh;
    overflow: hidden;
  }
  html body section .contato-grid .mapa {
    position: relative;
    height: 100%;
  }
  html body section .contato-grid .mapa h2 {
    padding: 35px 0 0 0;
    font-family: 'Zurich', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #63584d;
  }
  html body section .contato-grid .mapa h2 a {
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #63584d;
    float: right;
    margin-right: 50px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .contato-grid .mapa h2 a:active,
  html body section .contato-grid .mapa h2 a:visited {
    color: #63584d;
  }
  html body section .contato-grid .mapa h2 a:hover {
    color: #ccc8c3;
  }
  html body section .contato-grid .mapa .mapa_iframe {
    overflow: hidden;
    height: 100%;
  }
  html body section .contato-grid .mapa .mapa_iframe iframe {
    width: 100% !important;
    height: 100% !important;
  }
  html body section .lista-projetos {
    padding: 40px 0 40px 40px;
    list-style: none;
  }
  html body section .lista-projetos li {
    margin: 0 2px 5px 0;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
  html body section .lista-projetos li a {
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .lista-projetos li a:before {
    content: "";
    display: block;
    position: absolute;
    width: 158px;
    height: 158px;
    border: 1px #fff solid;
    z-index: 999;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    opacity: 1;
    top: 20px;
    left: 20px;
  }
  html body section .lista-projetos li a:after {
    content: attr(title);
    display: block;
    position: absolute;
    padding: 15px 35px;
    width: 90px;
    height: 130px;
    z-index: 99;
    background: url('rgba.php/rgba(99,88,77,.9)');
    background: rgba(99, 88, 77, 0.9);
    color: #fff;
    font-family: 'Zurich', sans-serif;
    font-size: 16px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    opacity: 1;
    top: 40px;
    left: 0px;
  }
  html body section .detalhe-projeto {
    padding: 40px 0 0 0px;
  }
  html body section .detalhe-projeto h1 {
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 20px;
    font-weight: normal;
  }
  html body section .detalhe-projeto #ampliadas {
    width: 100%;
    font-size: 0;
    margin-bottom: 5px;
    position: relative;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas {
    position: relative;
    left: 0;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas a[rel='ampliadas'] {
    display: block;
    max-width: 100%;
    position: relative;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    background-color: #fff;
    background-image: none !important;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas a[rel='ampliadas'] img {
    max-width: 100%;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 100%;
    min-height: 350px;
    background-color: #ccc8c3;
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card h1 {
    padding: 15px 0 0 15px;
    margin-bottom: 10px;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card p {
    padding: 0 0 0 15px;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card a {
    color: #63584d;
    font-weight: bold;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card a:active,
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card a:visited {
    color: #63584d;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card a:hover {
    color: #7a7065;
    text-decoration: underline;
  }
  html body section .detalhe-projeto #thumbs {
    display: none;
  }
  html body section .detalhe-projeto .fornecedores-open {
    display: none;
  }
  html body section .detalhe-projeto #navegacao {
    display: block;
    margin: 10px 0;
    width: 100%;
  }
  html body section .detalhe-projeto #navegacao .voltar {
    float: left;
  }
  html body section .detalhe-projeto #navegacao .voltar a {
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .detalhe-projeto #navegacao .voltar a:active,
  html body section .detalhe-projeto #navegacao .voltar a:visited {
    color: #63584d;
  }
  html body section .detalhe-projeto #navegacao .voltar a:hover {
    color: #ccc8c3;
  }
  html body section .detalhe-projeto #navegacao .navegar {
    float: right;
  }
  html body section .detalhe-projeto #navegacao .navegar .separador {
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
  }
  html body section .detalhe-projeto #navegacao .navegar a {
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .detalhe-projeto #navegacao .navegar a:active,
  html body section .detalhe-projeto #navegacao .navegar a:visited {
    color: #63584d;
  }
  html body section .detalhe-projeto #navegacao .navegar a:hover {
    color: #ccc8c3;
  }
  html body section .detalhe-projeto #navegacao .navegar a.prev {
    padding-right: 10px;
  }
  html body section .detalhe-projeto #navegacao .navegar a.next {
    padding-left: 10px;
  }
  html body section .lista-clientes {
    padding: 40px 50px 0 40px;
  }
  html body section .lista-clientes .cliente {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 240px;
    height: 160px;
    padding: 20px;
  }
  html body section .pad-clips {
    padding: 10px 0;
  }
  html body section .pad-clips .lista-clippings-digitais {
    width: 100%;
    list-style: none;
  }
  html body section .pad-clips .lista-clippings-digitais li {
    width: 100%;
    margin-bottom: 5px;
  }
  html body section .pad-clips .lista-clippings-digitais li a {
    display: block;
    padding: 15px;
    background: url('../images/layout/seta-thumbnails.png') #ccc8c3 98% center no-repeat;
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .pad-clips .lista-clippings-digitais li a:active,
  html body section .pad-clips .lista-clippings-digitais li a:visited {
    color: #63584d;
  }
  html body section .pad-clips .lista-clippings-digitais li a:hover {
    background: url('../images/layout/ampliado-seta-direita.png') #63584d 98% center no-repeat;
    color: #fff;
  }
  html body section .pad-clips .lista-clippings-digitais li a span {
    font-size: 16px;
  }
  html body section .pad-clips .lista-clippings-digitais li a p {
    width: 96%;
  }
  html body section .pad-clips .lista-clippings-impressos {
    list-style: none;
    padding: 5%;
  }
  html body section .pad-clips .lista-clippings-impressos li {
    width: 190px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    margin: 10px auto;
  }
  html body section .pad-clips .lista-clippings-impressos li a {
    display: block;
    padding: 5px;
    background: #63584d;
    color: #fff;
    text-align: center;
    width: 180px;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .pad-clips .lista-clippings-impressos li a:active,
  html body section .pad-clips .lista-clippings-impressos li a:visited {
    color: #fff;
  }
  html body section .pad-clips .lista-clippings-impressos li a:hover {
    background-color: #ccc8c3;
  }
  html body section .pad-clips .lista-clippings-impressos li a img {
    width: 180px;
    display: block;
    margin: 0 auto 5px auto;
  }
  html body section .pad-clips .lista-clippings-impressos li a .linha {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    width: 100%;
    height: 100%;
  }
  html body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  html body aside {
    width: 260px;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background: #63584d;
  }
  html body aside .insidepad {
    padding: 20px;
  }
  html body aside .insidepad #link-home {
    display: block;
    width: 100%;
    max-width: 160px;
    margin: 20px auto 30px auto;
    float: none;
  }
  html body aside .insidepad #link-home img {
    width: 100%;
    max-width: 160px;
    display: block;
    margin: 0 auto;
  }
  html body aside .insidepad #toggle-menu {
    display: none;
  }
  html body aside .insidepad nav ul {
    list-style: none;
    border-top: 1px #7a7065 solid;
  }
  html body aside .insidepad nav ul li {
    min-height: 24px;
    border-bottom: 1px #7a7065 solid;
  }
  html body aside .insidepad nav ul li a {
    position: relative;
    text-align: right;
    padding-right: 30px;
    color: #fff;
    display: block;
    height: 24px;
    line-height: 24px;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul li a:active,
  html body aside .insidepad nav ul li a:visited {
    color: #fff;
  }
  html body aside .insidepad nav ul li a:after {
    content: "";
    border: 1px #fff solid;
    display: block;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 8px;
    right: 17px;
    opacity: 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    behavior: url('PIE.htc');
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul li a:hover,
  html body aside .insidepad nav ul li a.ativo {
    background-color: #7a7065;
  }
  html body aside .insidepad nav ul li a:hover:after,
  html body aside .insidepad nav ul li a.ativo:after {
    opacity: 1;
  }
  html body aside .insidepad nav ul.submenu li {
    border-bottom: 1px #7a7065 solid;
  }
  html body aside .insidepad nav ul.submenu li a {
    background-color: #6b6054;
    font-size: 12px !important;
  }
  html body aside .insidepad nav ul.submenu li a:active,
  html body aside .insidepad nav ul.submenu li a:visited {
    color: #fff;
  }
  html body aside .insidepad nav ul.submenu li a:before {
    content: "";
    display: block;
    background: url('../images/layout/setinha-marcador-submenu.png') center center no-repeat;
    width: 4px;
    height: 6px;
    position: absolute;
    top: 8px;
    right: 17px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul.submenu li a:after {
    display: none;
  }
  html body aside .insidepad nav ul.submenu li a:hover,
  html body aside .insidepad nav ul.submenu li a.ativo {
    background-color: #7a7065;
  }
  html body aside .insidepad nav ul.submenu li a:hover:before,
  html body aside .insidepad nav ul.submenu li a.ativo:before {
    opacity: 1;
  }
  html body aside .insidepad nav ul.submenu li:last-child {
    border-bottom: none;
  }
  html body aside .insidepad #menu-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: right;
    font-family: 'Zurich', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
  }
  html body aside .insidepad #menu-bottom #barra {
    padding: 0 50px 0 0;
  }
  html body aside .insidepad #menu-bottom #barra a {
    font-family: 'Zurich', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad #menu-bottom #barra a:active,
  html body aside .insidepad #menu-bottom #barra a:visited {
    color: #fff;
  }
  html body aside .insidepad #menu-bottom #barra a:hover {
    color: #ccc8c3;
  }
  html body aside .insidepad #menu-bottom #barra a img {
    margin: 0 3px;
  }
  html body aside .insidepad #menu-bottom #assinatura {
    padding: 0 50px 25px 0px;
    margin-top: 5px;
    font-family: 'Zurich', sans-serif;
    font-size: 9px;
    font-weight: normal;
  }
  html body aside .insidepad #menu-bottom #assinatura a {
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad #menu-bottom #assinatura a:active,
  html body aside .insidepad #menu-bottom #assinatura a:visited {
    color: #fff;
  }
  html body aside .insidepad #menu-bottom #assinatura a:hover {
    color: #ccc8c3;
  }
  html body section {
    padding-left: 260px;
    min-height: 100%;
  }
  html body section h1.sem-resultado {
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 25px;
    font-weight: normal;
  }
  html body section h1.sem-resultado.padded {
    padding: 7% 5%;
  }
  html body section .perfil-grid .pure-u-1-3.fundo-marrom {
    background-color: #ccc8c3;
  }
  html body section .perfil-grid .imagem-debora {
    height: 50vh;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
  }
  html body section .perfil-grid .texto-perfil {
    padding: 40px 6%;
  }
  html body section .perfil-grid .texto-perfil p {
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #63584d;
    line-height: 130%;
    margin-bottom: 15px;
  }
  html body section .perfil-grid .texto-metodologia {
    padding: 40px 6%;
  }
  html body section .perfil-grid .texto-metodologia h1 {
    font-family: 'Zurich', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #63584d;
    line-height: 110%;
    margin-bottom: 15px;
  }
  html body section .perfil-grid .texto-metodologia h2 {
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #63584d;
    line-height: 110%;
  }
  html body section .perfil-grid .texto-metodologia p {
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #63584d;
    line-height: 130%;
    margin-bottom: 15px;
  }
  html body section .contato-grid .contato {
    padding: 40px 50px 0 40px;
  }
  html body section .contato-grid .contato .endereco p {
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #63584d;
    line-height: 120%;
  }
  html body section .contato-grid .contato .endereco p:last-child {
    margin-bottom: 45px;
  }
  html body section .contato-grid .contato .form h2 {
    font-family: 'Zurich', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #63584d;
  }
  html body section .contato-grid .contato .form .envio.sucesso {
    text-align: center;
    padding: 10px;
    margin: 4px 0;
  }
  html body section .contato-grid .contato .form form input[type="text"],
  html body section .contato-grid .contato .form form input[type="email"] {
    display: block;
    margin: 0 0 3px 0;
    background: #ccc8c3;
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 19px;
    line-height: 19px;
    padding: 3px 10px;
    border: 0;
    width: 459px;
  }
  html body section .contato-grid .contato .form form input[type="text"]::-webkit-input-placeholder,
  html body section .contato-grid .contato .form form input[type="email"]::-webkit-input-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form input[type="text"]:-moz-placeholder,
  html body section .contato-grid .contato .form form input[type="email"]:-moz-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form input[type="text"]::-moz-placeholder,
  html body section .contato-grid .contato .form form input[type="email"]::-moz-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form input[type="text"]:-ms-input-placeholder,
  html body section .contato-grid .contato .form form input[type="email"]:-ms-input-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form textarea {
    display: block;
    margin: 0 0 3px 0;
    background: #ccc8c3;
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 270px;
    padding: 3px 10px;
    border: 0;
    width: 459px;
    resize: none;
    overflow: auto;
  }
  html body section .contato-grid .contato .form form textarea::-webkit-input-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form textarea:-moz-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form textarea::-moz-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form textarea:-ms-input-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form input[type="submit"] {
    display: block;
    width: 479px;
    text-align: center;
    cursor: pointer;
    color: #63584d;
    background: #B9B3AD;
    border: 0;
    height: 25px;
    line-height: 25px;
    font-family: 'Zurich', sans-serif;
    font-size: 16px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .contato-grid .contato .form form input[type="submit"]:hover {
    background-color: #63584d;
    color: #fff;
  }
  html body section .contato-grid .pure-u-13-24 {
    height: 100vh;
    overflow: hidden;
  }
  html body section .contato-grid .mapa {
    position: relative;
    height: 100%;
  }
  html body section .contato-grid .mapa h2 {
    padding: 35px 0 0 0;
    font-family: 'Zurich', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #63584d;
  }
  html body section .contato-grid .mapa h2 a {
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #63584d;
    float: right;
    margin-right: 50px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .contato-grid .mapa h2 a:active,
  html body section .contato-grid .mapa h2 a:visited {
    color: #63584d;
  }
  html body section .contato-grid .mapa h2 a:hover {
    color: #ccc8c3;
  }
  html body section .contato-grid .mapa .mapa_iframe {
    overflow: hidden;
    height: 100%;
  }
  html body section .contato-grid .mapa .mapa_iframe iframe {
    width: 100% !important;
    height: 100% !important;
  }
  html body section .lista-projetos {
    padding: 40px 0 40px 40px;
    list-style: none;
  }
  html body section .lista-projetos li {
    margin: 0 2px 5px 0;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
  html body section .lista-projetos li a {
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .lista-projetos li a:before {
    content: "";
    display: block;
    position: absolute;
    width: 158px;
    height: 158px;
    border: 1px #fff solid;
    z-index: 999;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    opacity: 1;
    top: 20px;
    left: 20px;
  }
  html body section .lista-projetos li a:after {
    content: attr(title);
    display: block;
    position: absolute;
    padding: 15px 35px;
    width: 90px;
    height: 130px;
    z-index: 99;
    background: url('rgba.php/rgba(99,88,77,.9)');
    background: rgba(99, 88, 77, 0.9);
    color: #fff;
    font-family: 'Zurich', sans-serif;
    font-size: 16px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    opacity: 1;
    top: 40px;
    left: 0px;
  }
  html body section .detalhe-projeto {
    padding: 40px 0 0 40px;
  }
  html body section .detalhe-projeto h1 {
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 20px;
    font-weight: normal;
  }
  html body section .detalhe-projeto #ampliadas {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
    margin-bottom: 5px;
    position: relative;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas {
    position: relative;
    left: 0;
    -webkit-transition: left 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: left 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: left 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: left 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas a[rel='ampliadas'] {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 380px;
    height: 380px;
    margin-right: 5px;
    position: relative;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas a[rel='ampliadas'] img {
    opacity: 0;
    max-width: 380px;
    height: 380px;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas a[rel='ampliadas']:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 380px;
    height: 380px;
    z-index: 99;
    background: url('../images/layout/lupa.png') rgba(99, 88, 77, 0.8) center center no-repeat;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    opacity: 0;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas a[rel='ampliadas']:hover:after {
    opacity: 1;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 350px;
    height: 350px;
    margin-right: 5px;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background-color: #ccc8c3;
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 15px;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card h1 {
    margin-bottom: 10px;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card a {
    color: #63584d;
    font-weight: bold;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card a:active,
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card a:visited {
    color: #63584d;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card a:hover {
    color: #7a7065;
    text-decoration: underline;
  }
  html body section .detalhe-projeto #thumbs {
    margin-top: -5px;
    margin-left: -34px !important;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    position: relative;
  }
  html body section .detalhe-projeto #thumbs.comprev .prev-btn {
    opacity: 1;
  }
  html body section .detalhe-projeto #thumbs .viewport-thumbs {
    width: 880px;
    font-size: 0;
    overflow: hidden;
    position: relative;
    height: 60px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
  }
  html body section .detalhe-projeto #thumbs .viewport-thumbs .move-handle {
    -webkit-transition: left 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: left 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: left 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: left 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    padding: 5px 0 5px 5px;
    white-space: nowrap;
    position: absolute;
    left: 0px;
    min-width: 1500px;
  }
  html body section .detalhe-projeto #thumbs .viewport-thumbs a {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .detalhe-projeto #thumbs .viewport-thumbs a:hover,
  html body section .detalhe-projeto #thumbs .viewport-thumbs a.ativo {
    -webkit-box-shadow: 0 0 3px 1px rgba(99, 88, 77, 0.9);
    box-shadow: 0 0 3px 1px rgba(99, 88, 77, 0.9);
  }
  html body section .detalhe-projeto #thumbs .viewport-thumbs a img {
    max-width: 50px;
    height: 50px;
  }
  html body section .detalhe-projeto #thumbs .prev-btn {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    opacity: 0;
    padding-top: 5px;
    width: 25px;
    height: 50px;
    font-size: 1px;
    text-indent: -999px;
    overflow: hidden;
    background: url('../images/layout/seta-thumbnails-invertida.png') right 20px no-repeat;
  }
  html body section .detalhe-projeto #thumbs .next-btn {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    display: none;
    padding-top: 5px;
    width: 25px;
    height: 50px;
    font-size: 1px;
    text-indent: -999px;
    overflow: hidden;
    background: url('../images/layout/seta-thumbnails.png') left 20px no-repeat;
  }
  html body section .detalhe-projeto .fornecedores-open {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    background: #63584d;
    color: #fff;
    font-family: 'Zurich', sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding: 1px 7px;
    margin: 3px 0 0 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .detalhe-projeto .fornecedores-open:active,
  html body section .detalhe-projeto .fornecedores-open:visited {
    color: #fff;
  }
  html body section .detalhe-projeto .fornecedores-open:hover,
  html body section .detalhe-projeto .fornecedores-open.ativo {
    color: #ccc8c3;
  }
  html body section .detalhe-projeto #navegacao {
    position: absolute;
    bottom: 15px;
    width: 75%;
  }
  html body section .detalhe-projeto #navegacao .voltar {
    float: left;
  }
  html body section .detalhe-projeto #navegacao .voltar a {
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .detalhe-projeto #navegacao .voltar a:active,
  html body section .detalhe-projeto #navegacao .voltar a:visited {
    color: #63584d;
  }
  html body section .detalhe-projeto #navegacao .voltar a:hover {
    color: #ccc8c3;
  }
  html body section .detalhe-projeto #navegacao .navegar {
    float: right;
  }
  html body section .detalhe-projeto #navegacao .navegar .separador {
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
  }
  html body section .detalhe-projeto #navegacao .navegar a {
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .detalhe-projeto #navegacao .navegar a:active,
  html body section .detalhe-projeto #navegacao .navegar a:visited {
    color: #63584d;
  }
  html body section .detalhe-projeto #navegacao .navegar a:hover {
    color: #ccc8c3;
  }
  html body section .detalhe-projeto #navegacao .navegar a.prev {
    padding-right: 10px;
  }
  html body section .detalhe-projeto #navegacao .navegar a.next {
    padding-left: 10px;
  }
  html body section .lista-clientes {
    padding: 40px 50px 0 40px;
  }
  html body section .lista-clientes .cliente {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 240px;
    height: 160px;
    padding: 20px;
  }
  html body section .pad-clips {
    padding: 40px 50px 0 40px;
  }
  html body section .pad-clips .lista-clippings-digitais {
    list-style: none;
  }
  html body section .pad-clips .lista-clippings-digitais li {
    margin-bottom: 5px;
  }
  html body section .pad-clips .lista-clippings-digitais li a {
    display: block;
    width: 670px;
    padding: 15px;
    background: url('../images/layout/seta-thumbnails.png') #ccc8c3 98% center no-repeat;
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .pad-clips .lista-clippings-digitais li a:active,
  html body section .pad-clips .lista-clippings-digitais li a:visited {
    color: #63584d;
  }
  html body section .pad-clips .lista-clippings-digitais li a:hover {
    background: url('../images/layout/ampliado-seta-direita.png') #63584d 98% center no-repeat;
    color: #fff;
  }
  html body section .pad-clips .lista-clippings-digitais li a span {
    font-size: 16px;
  }
  html body section .pad-clips .lista-clippings-digitais li a p {
    width: 96%;
  }
  html body section .pad-clips .lista-clippings-impressos {
    list-style: none;
  }
  html body section .pad-clips .lista-clippings-impressos li {
    margin-bottom: 15px;
    margin-right: 15px;
    width: 190px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
  }
  html body section .pad-clips .lista-clippings-impressos li a {
    display: block;
    padding: 5px;
    background: #63584d;
    color: #fff;
    text-align: center;
    width: 180px;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .pad-clips .lista-clippings-impressos li a:active,
  html body section .pad-clips .lista-clippings-impressos li a:visited {
    color: #fff;
  }
  html body section .pad-clips .lista-clippings-impressos li a:hover {
    background-color: #ccc8c3;
  }
  html body section .pad-clips .lista-clippings-impressos li a img {
    width: 180px;
    display: block;
    margin: 0 auto 5px auto;
  }
  html body section .pad-clips .lista-clippings-impressos li a .linha {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
  }
}
@media only screen and (min-width: 1024px) {
  html {
    width: 100%;
    height: 100%;
  }
  html body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  html body aside {
    width: 260px;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background: #63584d;
  }
  html body aside .insidepad {
    padding: 20px;
  }
  html body aside .insidepad #link-home {
    display: block;
    width: 100%;
    max-width: 160px;
    margin: 20px auto 30px auto;
    float: none;
  }
  html body aside .insidepad #link-home img {
    width: 100%;
    max-width: 160px;
    display: block;
    margin: 0 auto;
  }
  html body aside .insidepad #toggle-menu {
    display: none;
  }
  html body aside .insidepad nav ul {
    list-style: none;
    border-top: 1px #7a7065 solid;
  }
  html body aside .insidepad nav ul li {
    min-height: 24px;
    border-bottom: 1px #7a7065 solid;
  }
  html body aside .insidepad nav ul li a {
    position: relative;
    text-align: right;
    padding-right: 30px;
    color: #fff;
    display: block;
    height: 24px;
    line-height: 24px;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul li a:active,
  html body aside .insidepad nav ul li a:visited {
    color: #fff;
  }
  html body aside .insidepad nav ul li a:after {
    content: "";
    border: 1px #fff solid;
    display: block;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 8px;
    right: 17px;
    opacity: 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    behavior: url('PIE.htc');
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul li a:hover,
  html body aside .insidepad nav ul li a.ativo {
    background-color: #7a7065;
  }
  html body aside .insidepad nav ul li a:hover:after,
  html body aside .insidepad nav ul li a.ativo:after {
    opacity: 1;
  }
  html body aside .insidepad nav ul.submenu li {
    border-bottom: 1px #7a7065 solid;
  }
  html body aside .insidepad nav ul.submenu li a {
    background-color: #6b6054;
    font-size: 12px !important;
  }
  html body aside .insidepad nav ul.submenu li a:active,
  html body aside .insidepad nav ul.submenu li a:visited {
    color: #fff;
  }
  html body aside .insidepad nav ul.submenu li a:before {
    content: "";
    display: block;
    background: url('../images/layout/setinha-marcador-submenu.png') center center no-repeat;
    width: 4px;
    height: 6px;
    position: absolute;
    top: 8px;
    right: 17px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad nav ul.submenu li a:after {
    display: none;
  }
  html body aside .insidepad nav ul.submenu li a:hover,
  html body aside .insidepad nav ul.submenu li a.ativo {
    background-color: #7a7065;
  }
  html body aside .insidepad nav ul.submenu li a:hover:before,
  html body aside .insidepad nav ul.submenu li a.ativo:before {
    opacity: 1;
  }
  html body aside .insidepad nav ul.submenu li:last-child {
    border-bottom: none;
  }
  html body aside .insidepad #menu-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: right;
    font-family: 'Zurich', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
  }
  html body aside .insidepad #menu-bottom #barra {
    padding: 0 50px 0 0;
  }
  html body aside .insidepad #menu-bottom #barra a {
    font-family: 'Zurich', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad #menu-bottom #barra a:active,
  html body aside .insidepad #menu-bottom #barra a:visited {
    color: #fff;
  }
  html body aside .insidepad #menu-bottom #barra a:hover {
    color: #ccc8c3;
  }
  html body aside .insidepad #menu-bottom #barra a img {
    margin: 0 3px;
  }
  html body aside .insidepad #menu-bottom #assinatura {
    padding: 0 50px 25px 0px;
    margin-top: 5px;
    font-family: 'Zurich', sans-serif;
    font-size: 9px;
    font-weight: normal;
  }
  html body aside .insidepad #menu-bottom #assinatura a {
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body aside .insidepad #menu-bottom #assinatura a:active,
  html body aside .insidepad #menu-bottom #assinatura a:visited {
    color: #fff;
  }
  html body aside .insidepad #menu-bottom #assinatura a:hover {
    color: #ccc8c3;
  }
  html body section {
    padding-left: 260px;
    min-height: 100%;
  }
  html body section h1.sem-resultado {
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 25px;
    font-weight: normal;
  }
  html body section h1.sem-resultado.padded {
    padding: 7% 5%;
  }
  html body section .perfil-grid {
    min-height: 100vh;
  }
  html body section .perfil-grid .pure-u-1-3 {
    min-height: 100vh;
  }
  html body section .perfil-grid .pure-u-1-3.fundo-marrom {
    background-color: #ccc8c3;
  }
  html body section .perfil-grid .imagem-debora {
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
  }
  html body section .perfil-grid .texto-perfil {
    padding: 40px 6%;
  }
  html body section .perfil-grid .texto-perfil p {
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #63584d;
    line-height: 130%;
    margin-bottom: 15px;
  }
  html body section .perfil-grid .texto-metodologia {
    padding: 40px 6%;
  }
  html body section .perfil-grid .texto-metodologia h1 {
    font-family: 'Zurich', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #63584d;
    line-height: 110%;
    margin-bottom: 15px;
  }
  html body section .perfil-grid .texto-metodologia h2 {
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #63584d;
    line-height: 110%;
  }
  html body section .perfil-grid .texto-metodologia p {
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #63584d;
    line-height: 130%;
    margin-bottom: 15px;
  }
  html body section .contato-grid .contato {
    padding: 40px 50px 0 40px;
  }
  html body section .contato-grid .contato .endereco p {
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #63584d;
    line-height: 120%;
  }
  html body section .contato-grid .contato .endereco p:last-child {
    margin-bottom: 45px;
  }
  html body section .contato-grid .contato .form h2 {
    font-family: 'Zurich', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #63584d;
  }
  html body section .contato-grid .contato .form .envio.sucesso {
    text-align: center;
    padding: 10px;
    margin: 4px 0;
  }
  html body section .contato-grid .contato .form form input[type="text"],
  html body section .contato-grid .contato .form form input[type="email"] {
    display: block;
    margin: 0 0 3px 0;
    background: #ccc8c3;
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 19px;
    line-height: 19px;
    padding: 3px 10px;
    border: 0;
    width: 459px;
  }
  html body section .contato-grid .contato .form form input[type="text"]::-webkit-input-placeholder,
  html body section .contato-grid .contato .form form input[type="email"]::-webkit-input-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form input[type="text"]:-moz-placeholder,
  html body section .contato-grid .contato .form form input[type="email"]:-moz-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form input[type="text"]::-moz-placeholder,
  html body section .contato-grid .contato .form form input[type="email"]::-moz-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form input[type="text"]:-ms-input-placeholder,
  html body section .contato-grid .contato .form form input[type="email"]:-ms-input-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form textarea {
    display: block;
    margin: 0 0 3px 0;
    background: #ccc8c3;
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 270px;
    padding: 3px 10px;
    border: 0;
    width: 459px;
    resize: none;
    overflow: auto;
  }
  html body section .contato-grid .contato .form form textarea::-webkit-input-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form textarea:-moz-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form textarea::-moz-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form textarea:-ms-input-placeholder {
    color: #63584d;
  }
  html body section .contato-grid .contato .form form input[type="submit"] {
    display: block;
    width: 479px;
    text-align: center;
    cursor: pointer;
    color: #63584d;
    background: #B9B3AD;
    border: 0;
    height: 25px;
    line-height: 25px;
    font-family: 'Zurich', sans-serif;
    font-size: 16px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .contato-grid .contato .form form input[type="submit"]:hover {
    background-color: #63584d;
    color: #fff;
  }
  html body section .contato-grid .pure-u-13-24 {
    height: 100vh;
    overflow: hidden;
  }
  html body section .contato-grid .mapa {
    position: relative;
    height: 100%;
  }
  html body section .contato-grid .mapa h2 {
    padding: 35px 0 0 0;
    font-family: 'Zurich', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #63584d;
  }
  html body section .contato-grid .mapa h2 a {
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #63584d;
    float: right;
    margin-right: 50px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .contato-grid .mapa h2 a:active,
  html body section .contato-grid .mapa h2 a:visited {
    color: #63584d;
  }
  html body section .contato-grid .mapa h2 a:hover {
    color: #ccc8c3;
  }
  html body section .contato-grid .mapa .mapa_iframe {
    overflow: hidden;
    height: 100%;
  }
  html body section .contato-grid .mapa .mapa_iframe iframe {
    width: 100% !important;
    height: 100% !important;
  }
  html body section .lista-projetos {
    padding: 40px 0 40px 40px;
    list-style: none;
  }
  html body section .lista-projetos li {
    margin: 0 2px 5px 0;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
  html body section .lista-projetos li a {
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .lista-projetos li a:before {
    content: "";
    display: block;
    position: absolute;
    width: 158px;
    height: 158px;
    border: 1px #fff solid;
    top: 15px;
    left: 25px;
    opacity: 0;
    z-index: 999;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .lista-projetos li a:after {
    content: attr(title);
    display: block;
    position: absolute;
    padding: 15px 35px;
    width: 90px;
    height: 130px;
    top: 45px;
    left: -5px;
    opacity: 0;
    z-index: 99;
    background: url('rgba.php/rgba(99,88,77,.9)');
    background: rgba(99, 88, 77, 0.9);
    color: #fff;
    font-family: 'Zurich', sans-serif;
    font-size: 16px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .lista-projetos li a:hover:before {
    opacity: 1;
    top: 20px;
    left: 20px;
  }
  html body section .lista-projetos li a:hover:after {
    opacity: 1;
    top: 40px;
    left: 0px;
  }
  html body section .detalhe-projeto {
    padding: 40px 0 0 40px;
  }
  html body section .detalhe-projeto h1 {
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 20px;
    font-weight: normal;
  }
  html body section .detalhe-projeto #ampliadas {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
    margin-bottom: 5px;
    position: relative;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas {
    position: relative;
    left: 0;
    -webkit-transition: left 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: left 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: left 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: left 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas a[rel='ampliadas'] {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 380px;
    height: 380px;
    margin-right: 5px;
    position: relative;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas a[rel='ampliadas'] img {
    opacity: 0;
    max-width: 380px;
    height: 380px;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas a[rel='ampliadas']:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 380px;
    height: 380px;
    z-index: 99;
    background: url('../images/layout/lupa.png') rgba(99, 88, 77, 0.8) center center no-repeat;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    opacity: 0;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas a[rel='ampliadas']:hover:after {
    opacity: 1;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 350px;
    height: 350px;
    margin-right: 5px;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background-color: #ccc8c3;
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 15px;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card h1 {
    margin-bottom: 10px;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card a {
    color: #63584d;
    font-weight: bold;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card a:active,
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card a:visited {
    color: #63584d;
  }
  html body section .detalhe-projeto #ampliadas .viewport-ampliadas .fornecedores-card a:hover {
    color: #7a7065;
    text-decoration: underline;
  }
  html body section .detalhe-projeto #thumbs {
    margin-top: -5px;
    margin-left: -34px !important;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    position: relative;
  }
  html body section .detalhe-projeto #thumbs.comprev .prev-btn {
    opacity: 1;
  }
  html body section .detalhe-projeto #thumbs .viewport-thumbs {
    width: 880px;
    font-size: 0;
    overflow: hidden;
    position: relative;
    height: 60px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
  }
  html body section .detalhe-projeto #thumbs .viewport-thumbs .move-handle {
    -webkit-transition: left 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: left 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: left 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: left 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    padding: 5px 0 5px 5px;
    white-space: nowrap;
    position: absolute;
    left: 0px;
    min-width: 1500px;
  }
  html body section .detalhe-projeto #thumbs .viewport-thumbs a {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .detalhe-projeto #thumbs .viewport-thumbs a:hover,
  html body section .detalhe-projeto #thumbs .viewport-thumbs a.ativo {
    -webkit-box-shadow: 0 0 3px 1px rgba(99, 88, 77, 0.9);
    box-shadow: 0 0 3px 1px rgba(99, 88, 77, 0.9);
  }
  html body section .detalhe-projeto #thumbs .viewport-thumbs a img {
    max-width: 50px;
    height: 50px;
  }
  html body section .detalhe-projeto #thumbs .prev-btn {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    opacity: 0;
    padding-top: 5px;
    width: 25px;
    height: 50px;
    font-size: 1px;
    text-indent: -999px;
    overflow: hidden;
    background: url('../images/layout/seta-thumbnails-invertida.png') right 20px no-repeat;
  }
  html body section .detalhe-projeto #thumbs .next-btn {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    display: none;
    padding-top: 5px;
    width: 25px;
    height: 50px;
    font-size: 1px;
    text-indent: -999px;
    overflow: hidden;
    background: url('../images/layout/seta-thumbnails.png') left 20px no-repeat;
  }
  html body section .detalhe-projeto .fornecedores-open {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    background: #63584d;
    color: #fff;
    font-family: 'Zurich', sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding: 1px 7px;
    margin: 3px 0 0 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .detalhe-projeto .fornecedores-open:active,
  html body section .detalhe-projeto .fornecedores-open:visited {
    color: #fff;
  }
  html body section .detalhe-projeto .fornecedores-open:hover,
  html body section .detalhe-projeto .fornecedores-open.ativo {
    color: #ccc8c3;
  }
  html body section .detalhe-projeto #navegacao {
    position: absolute;
    bottom: 15px;
    width: 75%;
  }
  html body section .detalhe-projeto #navegacao .voltar {
    float: left;
  }
  html body section .detalhe-projeto #navegacao .voltar a {
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .detalhe-projeto #navegacao .voltar a:active,
  html body section .detalhe-projeto #navegacao .voltar a:visited {
    color: #63584d;
  }
  html body section .detalhe-projeto #navegacao .voltar a:hover {
    color: #ccc8c3;
  }
  html body section .detalhe-projeto #navegacao .navegar {
    float: right;
  }
  html body section .detalhe-projeto #navegacao .navegar .separador {
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
  }
  html body section .detalhe-projeto #navegacao .navegar a {
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .detalhe-projeto #navegacao .navegar a:active,
  html body section .detalhe-projeto #navegacao .navegar a:visited {
    color: #63584d;
  }
  html body section .detalhe-projeto #navegacao .navegar a:hover {
    color: #ccc8c3;
  }
  html body section .detalhe-projeto #navegacao .navegar a.prev {
    padding-right: 10px;
  }
  html body section .detalhe-projeto #navegacao .navegar a.next {
    padding-left: 10px;
  }
  html body section .lista-clientes {
    padding: 40px 50px 0 40px;
  }
  html body section .lista-clientes .cliente {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 240px;
    height: 160px;
    padding: 20px;
  }
  html body section .pad-clips {
    padding: 40px 50px 0 40px;
  }
  html body section .pad-clips .lista-clippings-digitais {
    list-style: none;
  }
  html body section .pad-clips .lista-clippings-digitais li {
    margin-bottom: 5px;
  }
  html body section .pad-clips .lista-clippings-digitais li a {
    display: block;
    width: 670px;
    padding: 15px;
    background: url('../images/layout/seta-thumbnails.png') #ccc8c3 98% center no-repeat;
    color: #63584d;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .pad-clips .lista-clippings-digitais li a:active,
  html body section .pad-clips .lista-clippings-digitais li a:visited {
    color: #63584d;
  }
  html body section .pad-clips .lista-clippings-digitais li a:hover {
    background: url('../images/layout/ampliado-seta-direita.png') #63584d 98% center no-repeat;
    color: #fff;
  }
  html body section .pad-clips .lista-clippings-digitais li a span {
    font-size: 16px;
  }
  html body section .pad-clips .lista-clippings-digitais li a p {
    width: 96%;
  }
  html body section .pad-clips .lista-clippings-impressos {
    list-style: none;
  }
  html body section .pad-clips .lista-clippings-impressos li {
    margin-bottom: 15px;
    margin-right: 15px;
    width: 190px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
  }
  html body section .pad-clips .lista-clippings-impressos li a {
    display: block;
    padding: 5px;
    background: #63584d;
    color: #fff;
    text-align: center;
    width: 180px;
    font-family: 'Zurich', sans-serif;
    font-size: 14px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body section .pad-clips .lista-clippings-impressos li a:active,
  html body section .pad-clips .lista-clippings-impressos li a:visited {
    color: #fff;
  }
  html body section .pad-clips .lista-clippings-impressos li a:hover {
    background-color: #ccc8c3;
  }
  html body section .pad-clips .lista-clippings-impressos li a img {
    width: 180px;
    display: block;
    margin: 0 auto 5px auto;
  }
  html body section .pad-clips .lista-clippings-impressos li a .linha {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
  }
}
