@import 'vars.less';

@media only screen and (min-width: 0px) and (max-width: 479px) {
	@import 'internas.320.less';
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	@import 'internas.480.less';
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	@import 'internas.768.less';
}
@media only screen and (min-width: 1024px) {
	@import 'internas.desktop.less';
}
