html{
	width:100%;
	height:100%;
	body{
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		aside{
			width:260px;
			height:100%;
			position:fixed;
			z-index:999;
			top:0;
			left:0;
			background:@marrom_escuro;			
			.insidepad{
				padding:20px;
				#link-home{
					display:block;
					width:100%;
					max-width:160px;
					margin:20px auto 30px auto;
					float:none;
					img{
						width:100%;
						max-width:160px;
						display:block;
						margin:0 auto;
					}
				}
				#toggle-menu{display:none;}
				nav{
					ul{
						list-style: none;
						border-top:1px @marrom_medio solid;
						li{
							min-height:24px;
							border-bottom:1px @marrom_medio solid;
							a{
								position:relative;
								text-align:right;
								padding-right:30px;
								color:#fff;
								display:block;
								height:24px;
								line-height:24px;
								.zurich(14px);
								.transition;
								&:active, &:visited{color:#fff;}
								&:after{
									content:"";
									border:1px #fff solid;
									display:block;
									width:4px;
									height:4px;
									position:absolute;
									top:8px;
									right:17px;
									opacity:0;
									.arredondada(1px);
									.transition;
								}
								&:hover, &.ativo{
									background-color:@marrom_medio;
									&:after{
										opacity:1;
									}
								}
							}
						}
						&.submenu{
							li{
								border-bottom:1px @marrom_medio solid;
								a{
									background-color:@marrom_submenu;
									font-size:12px !important;
									&:active, &:visited{color:#fff;}
									&:before{
										content:"";
										display:block;
										background:url('../images/layout/setinha-marcador-submenu.png') center center no-repeat;
										width:4px;
										height:6px;
										position:absolute;
										top:8px;
										right:17px;
										opacity:0;
										.transition;										
									}
									&:after{display:none}
									&:hover, &.ativo{
										background-color:@marrom_medio;
										&:before{
											opacity:1;
										}
									}
								}
								&:last-child{border-bottom:none;}
							}
						}
					}
				}
				#menu-bottom{
					position:absolute;
					bottom:0;
					right:0;
					width:100%;
					text-align:right;
					.zurich(12px);
					color:#fff;
					#barra{
						padding:0 50px 0 0;
						a{
							.zurich(12px);
							color:#fff;
							.transition;
							&:active, &:visited{color:#fff;}
							&:hover{
								color:@marrom_claro;
							}
							img{
								margin:0 3px;
							}
						}
					}
					#assinatura{
						padding:0 50px 25px 0px;
						margin-top:5px;
						.zurich(9px);
						a{
							color:#fff;
							.transition;
							&:active, &:visited{color:#fff;}
							&:hover{color:@marrom_claro;}
						}
					}
				}
			}
		}
		section{
			padding-left:260px;
			min-height:100%;
			h1.sem-resultado{
				color:@marrom_escuro;
				.zurich(25px);
				&.padded{
					padding:7% 5%;
				}
			}
			.perfil-grid{
				.pure-u-1-3{
					&.fundo-marrom{background-color:@marrom_claro;}
				}
				.imagem-debora{
					height:50vh;
					background-position:center top;
					background-repeat:no-repeat;
					background-size:cover;
					-webkit-background-size: cover;
				}
				.texto-perfil{
					padding:40px 6%;
					p{
						.zurich(14px);
						color:@marrom_escuro;
						line-height:130%;
						margin-bottom:15px;
					}
				}
				.texto-metodologia{
					padding:40px 6%;
					h1{
						.zurich(16px, bold);
						color:@marrom_escuro;
						line-height:110%;
						margin-bottom:15px;
					}
					h2{
						.zurich(14px, bold);
						color:@marrom_escuro;
						line-height:110%;
					}
					p{
						.zurich(14px);
						color:@marrom_escuro;
						line-height:130%;
						margin-bottom:15px;
					}
				}
			}
			.contato-grid{
				.contato{
					padding:40px 50px 0 40px;
					.endereco{
						p{
							.zurich(14px);
							color:@marrom_escuro;
							line-height:120%;
							&:last-child{margin-bottom: 45px;}
						}
					}
					.form{
						h2{
							.zurich(16px, bold);
							color:@marrom_escuro;
						}
						.envio.sucesso{
							text-align:center;
							padding:10px;
							margin:4px 0;
						}
						form{
							input[type="text"],
							input[type="email"]{
								display:block;
								margin:0 0 3px 0;
								background:@marrom_claro;
								.placeholder(@marrom_escuro);
								color:@marrom_escuro;
								.zurich(14px);
								height:19px;
								line-height:19px;
								padding:3px 10px;
								border:0;
								width:459px;
							}
							textarea{
								display:block;
								overflow:auto;
								margin:0 0 3px 0;
								background:@marrom_claro;
								.placeholder(@marrom_escuro);
								color:@marrom_escuro;
								.zurich(14px);
								height:270px;
								padding:3px 10px;
								border:0;
								width:459px;
								resize:none;
								overflow:auto;
							}
							input[type="submit"]{
								display:block;
								width:479px;
								text-align:center;
								cursor:pointer;
								color:@marrom_escuro;
								background:#B9B3AD;
								border:0;
								height:25px;
								line-height:25px;
								.zurich(16px);
								.transition;
								&:hover{
									background-color:@marrom_escuro;
									color:#fff;
								}
							}
						}
					}
				}
				.pure-u-13-24{
					height:100vh;
					overflow:hidden;
				}
				.mapa{
					position:relative;
					height:100%;
					h2{
						padding:35px 0 0 0;
						.zurich(16px, bold);
						color:@marrom_escuro;
						a{
							.zurich(14px, normal);
							color:@marrom_escuro;
							float:right;
							margin-right:50px;
							.transition;
							&:active, &:visited{color:@marrom_escuro;}
							&:hover{
								color:@marrom_claro;
							}
						}
					}
					.mapa_iframe{
						overflow:hidden;
						height:100%;
						iframe{
							width:100% !important;
							height:100% !important;
						}
					}
				}
			}
			.lista-projetos{
				padding:40px 0 40px 40px;
				list-style:none;
				li{
					margin:0 2px 5px 0;
					.inline;
					width:200px;
					height:200px;
					overflow:hidden;
					a{
						display:block;
						position:relative;
						width:200px;
						height:200px;
						.transition;
						&:active, &:visited{}
						&:before{
							content:"";
							display: block;
							position:absolute;
							width:158px;
							height:158px;
							border:1px #fff solid;
							z-index:999;
							.transition;
							opacity:1;
							top:20px;
							left:20px;
						}
						&:after{
							content:attr(title);
							display: block;
							position:absolute;
							padding:15px 35px;
							width:90px;
							height:130px;
							z-index:99;
							background:url('rgba.php/rgba(99,88,77,.9)');
							background:rgba(99,88,77,.9);
							color:#fff;
							.zurich(16px);
							.transition;
							opacity:1;
							top:40px;
							left:0px;
						}
					}
				}
			}
			.detalhe-projeto{
				padding:40px 0 0 40px;
				h1{
					color:@marrom_escuro;
					.zurich(20px);
				}
				#ampliadas{
					width:100%;
					overflow:hidden;
					white-space:nowrap;
					font-size:0;
					margin-bottom:5px;
					position:relative;
					.viewport-ampliadas{
						position:relative;
						left:0;
						.transition(left, .5s, cubic-bezier(0.785, 0.135, 0.150, 0.860));
						a[rel='ampliadas']{
							.inline;
							width:380px;
							height:380px;
							margin-right:5px;
							position:relative;
							background-position:center center;
							background-size:cover;
							-webkit-background-size: cover;
							background-repeat:no-repeat;
							background-color:#fff;
							.transition;
							&:active, &:visited{}
							img{
								opacity:0;
								max-width: 380px;
								height:380px;
							}
							&:after{
								content:"";
								display:block;
								position:absolute;
								top:0;
								left:0;
								width:380px;
								height:380px;
								z-index:99;
								background:url('../images/layout/lupa.png') rgba(99,88,77,.8) center center no-repeat;
								.transition;
								opacity:0;
							}
							&:hover{
								&:after{
									opacity:1;
								}
							}
						}
						.fornecedores-card{
							.inline;
							width:350px;
							height:350px;
							margin-right:5px;
							position:relative;
							.transition;
							background-color:@marrom_claro;
							color:@marrom_escuro;
							.zurich(14px);
							padding:15px;
							h1{margin-bottom:10px}
							a{
								color:@marrom_escuro;
								font-weight: bold;
								.transition;
								&:active, &:visited{color:@marrom_escuro;}
								&:hover{
									color:@marrom_medio;
									text-decoration:underline;
								}
							}
						}
					}
				}
				#thumbs{
					margin-top:-5px;
					margin-left:-34px !important;
					.transition;
					&.comprev{
						.prev-btn{
							opacity:1;
						}						
					}
					position:relative;
					.viewport-thumbs{						
						width:880px;
						font-size:0;
						overflow:hidden;
						position:relative;
						height:60px;
						.inline;
						.move-handle{
							.transition(left, .5s, cubic-bezier(0.785, 0.135, 0.150, 0.860));
							padding:5px 0 5px 5px;
							white-space:nowrap;
							position:absolute;
							left:0px;
							min-width: 1500px;
						}
						a{
							.inline;
							width:50px;
							height:50px;
							margin-right:5px;
							.transition;
							&:hover, &.ativo{
								-webkit-box-shadow: 0 0 3px 1px rgba(99,88,77,.9);
								box-shadow: 0 0 3px 1px rgba(99,88,77,.9);
							}
							img{
								max-width:50px;
								height:50px;
							}
						}
					}
					.prev-btn{
						.inline;
						.transition;
						opacity:0;
						padding-top:5px;
						width:25px;
						height:50px;
						font-size:1px;
						text-indent: -999px;
						overflow:hidden;
						background:url('../images/layout/seta-thumbnails-invertida.png') right 20px no-repeat;
					}
					.next-btn{
						.inline;
						.transition;
						display:none;
						padding-top:5px;
						width:25px;
						height:50px;
						font-size:1px;
						text-indent: -999px;
						overflow:hidden;
						background:url('../images/layout/seta-thumbnails.png') left 20px no-repeat;
					}
				}
				.fornecedores-open{
					.inline;
					background:@marrom_escuro;
					color:#fff;
					.zurich(12px);
					padding:1px 7px;
					margin:3px 0 0 0;
					.transition;
					&:active, &:visited{color:#fff;}
					&:hover, &.ativo{color:@marrom_claro;}
				}
				#navegacao{
					position:absolute;
					bottom:15px;
					width:75%;
					.voltar{
						float:left;
						a{
							color:@marrom_escuro;
							.zurich(14px);
							.transition;
							&:active, &:visited{color:@marrom_escuro;}
							&:hover{color:@marrom_claro;}
						}
					}
					.navegar{
						float:right;
						.separador{
							color:@marrom_escuro;
							.zurich(14px);	
						}
						a{
							color:@marrom_escuro;
							.zurich(14px);
							.transition;
							&:active, &:visited{color:@marrom_escuro;}
							&:hover{color:@marrom_claro;}
							&.prev{
								padding-right:10px;
							}
							&.next{
								padding-left:10px;
							}
						}
					}
				}
			}
			.lista-clientes{
				padding:40px 50px 0 40px;
				.cliente{
					.inline;
					width:240px;
					height:160px;
					padding:20px;
				}
			}
			.pad-clips{
				padding:40px 50px 0 40px;
				.lista-clippings-digitais{
					list-style:none;
					li{
						margin-bottom:5px;
						a{
							display:block;
							width:670px;
							padding:15px;
							background:url('../images/layout/seta-thumbnails.png') @marrom_claro 98% center no-repeat;
							color:@marrom_escuro;
							.zurich(14px);
							.transition;
							&:active, &:visited{color:@marrom_escuro;}
							&:hover{
								background:url('../images/layout/ampliado-seta-direita.png') @marrom_escuro 98% center no-repeat;
								color:#fff;
							}
							span{
								font-size:16px;
							}
							p{
								width:96%;
							}
						}
					}
				}
				.lista-clippings-impressos{
					list-style:none;
					li{
						margin-bottom:15px;
						margin-right:15px;
						width:190px;
						.inline;
						a{
							display:block;
							padding:5px;
							background:@marrom_escuro;
							color:#fff;
							text-align:center;
							width:180px;
							.zurich(14px);
							.transition;
							&:active, &:visited{color:#fff;}
							&:hover{
								background-color:@marrom_claro;
							}
							img{
								width:180px;
								display:block;
								margin:0 auto 5px auto;
							}
							.linha{
								white-space: nowrap;
								overflow:hidden;
								width:100%;
								text-overflow:ellipsis;
							}
						}
					}
				}
			}
		}
	}
}